<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <style>
    .widget-holder {
      width: 100%;
      max-width: 600px;
    }
  </style>
</head>

<body>
  <div class="widget-holder">
    <!-- Start TB Widget -->
    <script>
      (function (w, d, s, ce) {
        var f = d.currentScript, l = d.createElement(s), w = d.createElement(s), wdi = d.createElement(ce);
        f.parentNode.insertBefore(wdi, f); l.defer = true;
        w.src = "/<%= htmlWebpackPlugin.tags.headTags.filter((tag) => tag.attributes.src.indexOf('chart') === 0)[0].attributes.src %>";
        l.src = "/<%= htmlWebpackPlugin.tags.headTags.filter((tag) => tag.attributes.src.indexOf('init') === 0)[0].attributes.src %>";
        f.parentNode.insertBefore(w, f); f.parentNode.insertBefore(l, f);
      })(window, document, "script", "tbw-chart");
    </script>
    <!-- End TB Widget -->
  </div>
</body>

</html>