label,
select,
.chart {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #2D3748;
}

.chart {
  font-size: 0.8rem;
  color: unset;
}

.filters {
  display: flex;
  flex-direction: column;
}

.dropdown {
  margin: 0 2rem 1rem 0;
}

label {
  display: block;
  margin-bottom: 0.75rem;
}

select {
  border: 1px solid #E2E8F0;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.chart {
  margin-top: 4rem;
  position: relative;
}

svg {
  width: calc(100% - 12rem);
  height: 100%;
  overflow: visible;
  margin-left: 6rem;
  margin-right: 6rem;
}

rect {
  display: block;
  fill: #90CDF4;
}

polyline {
  fill: none;
  stroke: #1A365D;
  stroke-width: 0.025rem;
}

line {
  stroke: #718096;
  stroke-width: 0.0125rem;
  stroke-dasharray: 0.0125rem;
}

.axis {
  display: flex;
  margin: 0.5rem 6rem 0 6rem;
  position: relative;
  padding-bottom: 1.5rem;
}

.axis span {
  flex: 1 0 auto;
  text-align: center;
}

.axis .label {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.bars-axis,
.line-axis {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column-reverse;
  height: calc(100% - 2.5rem);
  position: absolute;
  color: #48aae9;
}

.line-axis {
  left: auto;
  right: 1.5rem;
  color: #718096;
}

.bars-axis .label,
.line-axis .label {
  position: absolute;
  top: 50%;
  left: -7rem;
  transform: rotate(270deg);
  transform-origin: center;
  width: 15rem;
  text-align: center;
  padding: 0;
}

.line-axis .label {
  left: -2.5rem;
  transform: rotate(90deg);
}

.bars-axis span,
.line-axis span {
  flex: 1 0 auto;
  padding-left: 2rem;
  text-align: right;
}

.line-axis span {
  text-align: left;
  padding: 0;
}

.bars-axis span:first-child,
.line-axis span:first-child {
  flex: none;
}

@media screen and (min-width: 768px) {
  .filters {
    flex-direction: row;
  }
}
